<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="touhadb" connectionString="Data Source=234orcl;User ID=KTEXAM;Password=kingthis" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="dbType" value="Oracle"/>
  </appSettings>
</configuration>